{namespace Tour.templates}

/**
 * Template for overlay
 */
{template .overlay}
  <div class="tour-overlay">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path></path>
    </svg>
  </div>
{/template}


/**
 * Template for caption bar
 * @param caption
 */
{template .captionBar}
  <div class="tour-caption-container">
    <div class="tour-caption">
      {$caption}
    </div>
  </div>
{/template}
