{namespace Tour.templates}

/**
 * Template for overlay
 */
{template .overlay}
  <div class="tour-overlay">
  </div>
{/template}


/**
 * Template for caption bar
 * @param caption
 */
{template .captionBar}
  <div class="tour-caption-bar">
    {$caption}
  </div>
{/template}
